
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
  color: #333; 
}
nav {
  background-color: #131313;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.1);
  font-size: 16px; 
}

nav a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: #333; 
  color: #fff; 
}

nav a:hover {
  background-color: #333;
  color: #fff;
}


input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 50%; 
  height: 150px; 
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
}

h1 {
  background-color: #333;
  color: white;
  padding: 10px;
}

h3 {
  margin-top: 20px;
}


form {
  margin-top: 10px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  background-color: #333;
  color: white;
  border-radius: 4px; 
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold; 
}

button:hover {
  background-color: #333;
}

select {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}


#seo-image-upload-form {
  margin-top: 20px;
}


#seo-image-dropdown {
  width: 100%;
  max-width: 400px;
}


#saveSeoContentButton {
  margin-top: 20px;
}

/* Style the SEO image upload button */
#seoImage,
#seo-image-upload-form label {
  display: block;
  margin-top: 10px;
}

/* Styling for the service-list container */
#service-list {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  clear: left;
  width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#detail-list {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  clear: left;
  width: 700px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Styling for each service category inside the service-list */
.service-category {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* Styling for the "Edit" button */
.service-category button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-category button:hover {
  background-color: #0056b3;
}

#service-form {
  width: 300px; /* Adjust this value to your desired width */

  float: left;
}

/* New style to clear the float after the service-form */
h2 {
  clear: left;
}
#service-form input,
#service-form button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#detail-form {
  width: 300px; /* Adjust this value to your desired width */

  float: left;
}
/* New style to clear the float after the service-form */
h2 {
  clear: left;
}

#detail-form input,
#detail-form button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#employee-list > div {
  flex: 0 1 calc(20% - 10px); /* Using 20% as an example. It means 5 employees per row. Adjust the percentage as needed. */
  margin: 5px;
  box-sizing: border-box;
}

#employee-list img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

#employee-list p {
  margin-right: 10px;
}

#employee-list button {
  margin-left: 5px;
}
#employee-list > h3 {
  width: 100%;
  flex-basis: 100%; /* Makes sure the store heading takes the full width and appears on its own line */
}
#employee-list {
  display: flex;
  flex-wrap: wrap;
}
