/* Reset some default styles for better consistency */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Apply a modern font for a sleek look */
/* Apply base styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  line-height: 1.6;
}
/* Global styles for containers */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: black;
  color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.region-two {
  position: relative; /* Ensure that it's relative so children can be positioned absolutely relative to it */
  /* Other styles for region-two, like height, width, etc. */
}
/* Styles for the image container within Region One */
.region-one .image-container {
  width: 100%; /* Full width */
  height: auto; /* Height adjusts to maintain aspect ratio */
  padding: 20px; /* Padding around the container */
  text-align: center; /* Center align text in the image container */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.region-one-image img {
  max-width: 100%; /* Ensure image is never wider than its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
}
/* Dynamic categories */
#categories-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Disable wrapping */
  padding: 10px;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden; /* Hide anything that goes out of the container */
}

/* Banner list to match the slideshow container */
.banner-list {
  position: relative;
  margin: auto;
  overflow: hidden; /* Hide anything that goes out of the container */
}
/* Slides */
.mySlides {
  display: none;
  width: 100%;
  height: 650px;
  position: relative;
  transition: opacity 1s ease-in-out; /* Transition effect */
}

.mySlides img {
  width: 100%; /* This will make the image span the full width of its container */
  height: 100%; /* This will make the image span the full height of its container */
  object-fit: cover; /* This will ensure the image's aspect ratio is maintained */
}

/* Navigational buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 125; /* Show on top */
}

.prev {
  left: 10px; /* Adjust if necessary */
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  border: 1px solid #131313; /* Adding the border here */
}

/* Slide number text */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Optional: Add a background color and some padding to the body to prevent the images from flickering on load */
#dynamicDescription {
  color: white;
  padding: 10px; /* Add space inside the element */
  margin: 10px; /* Add space outside the element */
}

#dynamicDescription p {
  color: white;
  margin-bottom: 15px; /* Add space below each <p> element */
  line-height: 1.6; /* Adjust the line height for better readability */
}

#dynamicDescription span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff4500; /* Or any other color you like */
}

/* Style for the category items */
.category-name-Home,
.category-name-Company,
.category-name-Services,
.category-name-News,
.category-name-Contact {
  margin: 10px;
  padding: 10px 20px; /* Add padding to create spacing */
  border-radius: 5px;
  cursor: pointer; /* Add cursor pointer for hover effect */
  transition: background-color 0.3s; /* Add transition for hover effect */
  color: white; /* Make the text white */
}

.category-name-Home a,
.category-name-Company a,
.category-name-Services a,
.category-name-News a,
.category-name-Contact a {
  color: white; /* Make the text white */
  text-decoration: none; /* Remove the underline */
}
.category-name-Home a:hover {
  color: black; /* Make the text white */
  text-decoration: none; /* Remove the underline */
}
.category-name-Company a:hover {
  color: black; /* Make the text white */
  text-decoration: none; /* Remove the underline */
}
.category-name-Services a:hover {
  color: black; /* Make the text white */
  text-decoration: none; /* Remove the underline */
}
.category-name-News a:hover {
  color: black; /* Make the text white */
  text-decoration: none; /* Remove the underline */
}
.category-name-Contact a:hover {
  color: black; /* Make the text white */
  text-decoration: none; /* Remove the underline */
}

.category-name-Home:hover {
  background-color: #ccc; /* Change background color on hover */
}
.category-name-Company:hover {
  background-color: #ccc; /* Change background color on hover */
}
.category-name-Services:hover {
  background-color: #ccc; /* Change background color on hover */
}
.category-name-News:hover {
  background-color: #ccc; /* Change background color on hover */
}
.category-name-Contact:hover {
  background-color: #ccc; /* Change background color on hover */
}
/* Add this class to your CSS */
.flex-parent {
  display: flex;
}
/* SEO Container styles */
.seo-container {
  padding: 20px;
  color: white; /* Set text color to white */
  text-align: center;
  max-height: fit-content;
}
.title-container {
  margin-bottom: 10px;
  background-color: white;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1;
}

.title-container h1 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: center; /* Center text horizontally */
  margin: 0; /* Remove default margins */
}

.description-container {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center;
  align-items: center;
}

.description-container p {
  margin-bottom: 1rem; /* Adds space below each paragraph */
  line-height: 1.6; /* Increases the space between lines of text */
  color: black;
}

.description {
  color: black;
}

/* Logo */
.logo {
  margin-right: 10px; /* Space between the logo and the text */

  padding: 10px;
}
.logo-text a {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, #f5f5f5, #999);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
}

.logo img {
  width: 50px;
  height: auto;
}

#side-logo-image {
  width: 50px;
  height: auto;
}
.language-selector {
  position: relative;
  display: inline-block;
  padding-left: 20px; /* Spacing from previous element */
}

.language-selector a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: block;
  border: 1px solid #ffffff; /* Adding the border here */
}

.language-selector #selected-lang:hover {
  background-color: #333; /* Change color on hover */
}

.language-dropdown {
  display: none;
  position: absolute;
  background-color: #2d2d2d;
  min-width: 60px; /* Set width of the dropdown */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.language-dropdown a:hover {
  background-color: #555;
}

.language-selector:hover .language-dropdown {
  display: block;
}
.region-two .flex-container {
  display: flex;
  justify-content: space-between; /* Space the children out, pushing them to the extremes */
  align-items: center; /* Vertically center the children */
  width: 100%; /* Full width of its parent */
  height: 400px; /* Set the height */
  position: relative; /* Relative positioning for background image */
  background: url("/api/get-selected-seo-image") center/cover; /* shorthand for setting bg image */
}

.region-two .image-wrapper {
  width: 100%; /* Full width */
  height: 100px; /* Set height */
  background: center/cover; /* shorthand for bg size and position */
}

.region-two .seo-container {
  position: absolute; /* Allow for precise positioning */
  bottom: 0px; /* Reduced from 50px to 30px */
  left: 65px; /* Align to the LEFT instead of the right */
  padding: 20px;
  /* height: 50px; */
}

.description-container {
  display: flex;
  justify-content: space-between; /* Spread out the children */
  align-items: center; /* Vertically center the children */
}

.region-two .description {
  flex: 1;
  color: white; /* Change text color to white for contrast */
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  padding: 10px 20px; /* Add more padding */
  border-radius: 8px;
  letter-spacing: 0.05em; /* Adjusts the space between letters */
  word-spacing: 0.1em; /* Adjusts the space between words */
  line-height: 1.8; /* Adjusts the height of each line of text */
  max-width: none; /* Ensures no max-width is restricting the element */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Add a dark semi-transparent background for the text */
}

/* Counter style for emphasis */
.region-two #counter {
  font-size: 2.2rem;
  color: #ffd700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* Main content area */
.main-content {
  background-color: white;
  padding: 20px;
}
.WidgetTitle__Header-sc-ruy1gu-2 {
  display: none;
}
.WidgetTitle__Header-sc-ruy1gu-2 a[href*="elfsight.com/google-reviews-widget"] {
  display: none !important;
}
/* Home Region */
.home-region {
  padding: 40px 0;
  background-color: white;
  color: white;
  text-align: center;
}

.region-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.region-container img {
  width: 50%;
  max-width: 100px;
  height: auto;
  border-radius: 10px;
}

.region-content {
  flex: 1;
  padding: 20px;
}

.region-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.region-description {
  font-size: 18px;
  margin-bottom: 20px;
}
/* Style for phone container */
.phone-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.dropdown-header {
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.company-dropdown {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
}

.company-dropdown a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.company-dropdown a:hover {
  background-color: #f1f1f1;
}
@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* When the slide becomes active, change the properties to make it visible and move it to center */
.mySlides.fade .overlay-text {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.fade-in {
  animation-name: fadeInEffect;
  animation-timing-function: ease-in;
  animation-duration: 1s; /* Adjust duration as needed */
}

/* Style for phone icon */
.phone-icon {
  color: white;
  margin-right: 10px;
}
/* Style for the About Us container */
.about-us-container {
  display: flex;
  align-items: center;
}

/* Style for phone number */
.phone-number {
  font-weight: bold;
  color: white;
}
.region-button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.region-button:hover {
  background-color: #27ae60;
}

/* Style for the container within Region One and Region Two */
.flex-container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping */
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  max-width: 100%;
}
/* Image container within Region One and Region Two */
.image-container {
  flex: 1;
  width: 100%; /* Static width */
  height: 100%; /* Static height */
  padding: 20px;
  text-align: center; /* Center align text in the image container */
  position: relative; /* Add position relative for better control */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.image-container img {
  object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
  width: 100%;
  height: 100%;
}
.image-container img:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}
/* SEO container within Region One and Region Two */
.seo-container {
  flex: 1;
  /* width: 500px; /* Static width */
  /* height: 500px; Static height */
  padding: 20px;
  color: white; /* Set text color to white */

  text-align: center;
  right: 10px;
}
.region-one .seo-container {
  border: solid black;
  border-radius: 8px;
}
/*Services Section*/
.services {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
  background-size: cover; /* Cover the entire header */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

.services h1 {
  background-color: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background: white;
  transition: 0.3s ease-in;
  border: 6px solid #131313; /* Adding the border here */
}

.services__card:nth-child(2) {
  background: white;
  border: 6px solid #131313; /* Adding the border here */
}

.services__card:nth-child(3) {
  background: white;
  border: 6px solid #131313; /* Adding the border here */
}
.services__card:nth-child(4) {
  background: white;
  border: 6px solid #131313; /* Adding the border here */
}
.services__card h2 {
  text-align: center;
}
.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: black;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: white;
  font-size: 1rem;

  border: 2px solid #131313; /* Adding the border here */
}

.services__card button:hover {
  cursor: pointer;
  border: 6px solid #131313; /* Adding the border here */
  transition: 0.1s ease-in;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Style for the SEO button */
/* Style for the SEO button */
.seo-button.button.fifth {
  padding: 20px 40px;
  margin-top: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 12px;
  display: inline-block;
  transition: background-color 0.3s;
  border: 2px solid #131313;
  cursor: pointer;
  position: relative;
  left: -100px; /* Shift the button a little to the left */
}

.lazyload {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.lazyload-loaded {
  opacity: 1;
}
/* Add hover effect */
.seo-button.button.fifth:hover {
  background-color: white; /* Change background color on hover */
  color: #131313;
  text-decoration: none;
  border: 6px solid #131313; /* Adding the border here */
  transition: 0.1s ease-in;
}
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  #categories-list {
    display: none;
  }
  .hamburger-menu {
    display: block;
    z-index: 100;
    color: white;
  }
  body {
    overflow-x: hidden;
  }
  .main-content {
    padding: 10px; /* Reduced padding for tablet screens */
    height: auto; /* Example: change to auto or a specific value */
  }
  .mySlides {
    height: 400px; /* Adjusted height for tablets */
  }
  /* Adjust the styling for smaller screens */
  .container {
    padding: 0px;
  }
  #logo-text-image {
    display: none;
  }
  /* Responsive styles for header */
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  /* Dynamic categories */
  #categories-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .region-one-image {
    width: 80%; /* Adjust to be responsive */
    margin: 0;
  }
  /* Adjust the styles for slides */
  .mySlides img {
    width: 80%; /* Adjust to be responsive */
    height: auto;
  }
  /* Responsive styles for Region One and Region Two */
  .flex-container {
    flex-direction: column;
  }

  .image-container,
  .seo-container {
    max-width: 100%;
  }
  /* Category names */
  .category-name-Home {
    width: 80%; /* full width */
    text-align: center; /* center the text */
  }
  .category-name-Company {
    width: 80%; /* full width */
    text-align: center; /* center the text */
  }
  .category-name-Services {
    width: 80%; /* full width */
    text-align: center; /* center the text */
  }
  .category-name-News {
    width: 80%; /* full width */
    text-align: center; /* center the text */
  }
  .category-name-Contact {
    width: 80%; /* full width */
    text-align: center; /* center the text */
  }

  .region-container {
    flex-direction: column;
  }

  .region-container img {
    width: 80%;
    margin-bottom: 15px;
  } /* Adjust the SEO and Image containers within Region One and Region Two */
  .flex-container {
    flex-direction: column;
  }

  .description-container {
    padding: 10px; /* Add some padding for better spacing on smaller screens */
    font-size: 14px; /* Reduce font size if necessary */
  }
} /*END OPF MEDIA SCREEN*

      /*Footer*/
.footer__container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__link {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3 ease-out;
}

.footer__image-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.footer__image {
  max-height: 100%;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__link {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }
  .footer__link--wrapper {
    flex-direction: column;
  }
  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  .description-container {
    padding: 5px; /* Reduce padding for mobile screens */
    font-size: 12px; /* Further reduce font size for mobile devices */
  }
}

.contact-form-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  color: white;

  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input,
.input-group textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s; /* smooth transition */
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #007bff; /* change this to your theme color if required */
  outline: none;
}

.input-group textarea {
  resize: vertical; /* allow vertical resizing only */
}

.input-group button {
  padding: 10px 20px;
  background-color: white; /* change this to your theme color */
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* smooth transition */
  border: 2px solid black; /* Adding the border here */
}

.input-group button:hover {
  transition: background-color 0.3s; /* smooth transition */
  border: 4px solid black; /* Adding the border here */
}

/* Hamburger Menu Styling */
.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 30px;
}
#menu-icon {
  font-size: 30px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: white;
  z-index: 10;
}
.side-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  z-index: 1000;
  padding-top: 60px;
}

.side-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  color: #f1f1f1;
}

/* Media Query for Tablet and smaller screens */
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  #categories-list {
    display: none;
  }
  .hamburger-menu {
    display: block;
    z-index: 100;
    color: white;
  }
  .region-one .image-container {
    margin: 0;
    padding: 0;
  }
  .image-container,
  .seo-container {
    margin: 0;
    padding: 0;
  }
  .region-one-image {
    margin: 0;
    padding: 0;
  }
}

/* Media Query for Mobile screens */
@media screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
    padding: 0 0;
    max-width: 100%;
  }
  .main-content {
    padding: 0;
    margin: 0;
  }
  /* Adjust header layout */
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
  }
  .mySlides {
    height: 250px; /* Adjusted height for mobile screens */
    width: 100%;
  }
  /* Adjust slideshow and banner list dimensions */
  .slideshow-container,
  .banner-list {
    max-width: 100%;
  }
  .top-bar {
    display: none;
  }

  .top-bar-inner {
    padding: 0;
    margin: 0;
  }
  /* Adjust the styles for slides */
  .mySlides img {
    width: 100%; /* Adjust to be responsive */
    height: auto;
  }
  #dynamicDescription {
    margin: 0;
    padding: 0;
  }
  .close-btn {
    top: 5px; /* Adjusted position to be closer to the top */
    right: 5px; /* Adjusted position to be closer to the side */
    font-size: 24px; /* Slightly reduced size */
    padding: 10px; /* Added padding to increase touch target */
    z-index: 10;
    color: white;
  }
  /* Adjust Region content styling */
  .region-container {
    flex-direction: column;
  }
  .contact-form-section {
    margin: 0;
    padding: 0;
  }
  .region-one .seo-container h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
    line-height: 1.2; /* Adjust line height for better readability */
    word-wrap: break-word; /* Ensure long words don't overflow */
    margin: 0 10px; /* Add some margin for spacing */
    text-align: center; /* Center align the text for aesthetics */
  }

  .region-one-image {
    width: 100%; /* Make the image full width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Add some space below the image */
  }
  .region-container img {
    width: 100%;
    margin-bottom: 15px;
  }
  .image-container,
  .seo-container {
    margin: 0;
    padding: 0;
  }
  .region-two .seo-container {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
  }
  .region-two .image-container {
    margin: 0;
    padding: 0;
  }
  .top-bar-right .social__icons {
    display: none;
  }
  .seo-button.button.fifth {
    align-items: center;
  }
  .region-two {
  }
  /* Adjust the SEO and Image containers within Region One and Region Two */
  .image-container,
  .seo-container {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  /* Adjust the category names layout */
  #categories-list {
    flex-direction: column;
    align-items: center;
  }

  /* Adjust the contact form styling */

  /* Adjust footer links layout */
  .footer__link--items {
    width: 100%;
  }

  /* Adjust the service cards layout for mobile */
  .services__wrapper {
    grid-template-columns: 1fr; /* Single column for mobile */
  }

  /* Adjust the side menu width */
  .side-menu {
    width: 100%; /* Utilize the full width of the viewport */
  }

  /* Adjust the description container font size for better readability */
  .description-container {
    font-size: 14px;
  }

  #footer-contact-form {
    margin: 0;
    padding: 0;
  }
}

/* Footer Styling */
.footer__container {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__link--wrapper {
  flex: 1;
}

.footer__link--items {
  margin-bottom: 20px;
}

.footer__link--items h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer__link--items a {
  display: block;
  margin: 5px 0;
  color: #fff;
  text-decoration: none;
}

.footer__link--items a:hover {
  text-decoration: underline;
}

.social__media {
  margin-top: 20px;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website__rights {
  margin-right: 20px;
}

.social__icons a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.social__icons a:hover {
  text-decoration: underline;
}

.footer__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light border with some transparency */
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Styling for <hr> elements in the footer */
.footer__container hr {
  border: none; /* Remove default border */
  border-top: 1px solid rgba(255, 255, 255, 0.5); /* Add top border with some transparency */
  margin: 10px 0; /* Add some spacing around the <hr> */
  clear: both; /* Ensure it doesn't float next to any element */
}

/* Vertical dividers for sections in the footer */
.footer__link--wrapper:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, 0.5); /* Add a vertical border to the right */
  padding-right: 20px; /* Add some spacing to the right of the content */
  margin-right: 20px; /* Add some spacing to the right of the border */
}

/* Vertical divider for .footer__link--items */
.footer__link--wrapper .footer__link--items:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, 0.5); /* Add a vertical border to the right */
  padding-right: 20px; /* Add some spacing to the right of the content */
  margin-right: 20px; /* Add some spacing to the right of the border */
}

/* Styling for the contact form in the footer */

/* Style the input fields and text areas */
.contact-form-section input,
.contact-form-section textarea {
  width: 90%; /* Increase the width to almost full width of the container */
  padding: 10px; /* Add more padding for a bigger appearance */
  font-size: 1rem; /* Increase font size for readability */
}

/* Style the textarea specifically */
.contact-form-section textarea {
  height: 100px; /* Set a fixed height for the textarea */
}

/* Further increase the width of the contact form */

/* Adjust the vertical line for social media links */

.contact-form-section {
  padding: 15px;
  background-color: #131313; /* Light grey background for contrast */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  max-width: 360px; /* Set a larger maximum width to span the space indicated by the red border */
  margin: 0 auto; /* center the form if it's not in a flex/grid container */
  border: 2px solid white; /* Adding the border here */
  width: 100%; /* Utilize the full width */
  flex: 2.5; /* Increase the space allocated to the contact form */
  margin-right: 20px; /* Add some margin to separate it from the vertical divider */
}

.footer__link--wrapper:last-child {
  padding-left: 5px; /* Further reduce the padding to move the vertical line even closer to the items */
  margin-left: -10px; /* Slight negative margin to move the vertical line closer */
}
/* Further increase the width of the .footer__link--wrapper for the contact form */
.footer__link--wrapper:nth-child(3) {
  flex: 4; /* Increase the space allocated to the contact form */
}

/* Adjustments for the vertical line between the contact form and the social media links */
.footer__link--wrapper:nth-child(2) {
  padding-right: 10px; /* Adjust the padding to space the content from the border */
  margin-right: 5px; /* Adjust the margin to move the vertical line closer */
}

.footer__link--wrapper:nth-child(2) .footer__link--items {
  padding-right: 5px; /* Adjust the padding to move the vertical line even closer */
  margin-right: 0; /* Adjust the margin to move the vertical line even closer */
}
.red-text {
  color: #ff6666; /* Adjust this color as needed */
}
.fa-map-marker-alt {
  color: #ff6666; /* Adjust this color as needed */
}

.logo-container {
  display: flex;
  align-items: center; /* Vertically center the logo and text */
  justify-content: start; /* Layout children (logo and text) from start to end */
}
/* Position the .logo-text in the center of the header */

/* Top Header Styles */
.top-bar {
  background-color: #e2e1e1; /* Light gray background */
  font-size: 14px;
  color: #666666; /* Dark gray text */
}

.top-bar-inner {
  display: flex;
  justify-content: space-between; /* Distribute the left and right sections */
  max-width: 80%; /* You can adjust this based on your website's design */
  margin: 0.01%; /* Center the inner content */
  padding: 0; /* Add some padding for better appearance */
}

.top-bar-left,
.top-bar-right {
  display: flex;
  align-items: center;
}
.top-bar-left {
  gap: 3px; /* Space between working hours and social icons */
}
.top-bar-right {
  display: flex; /* Make sure the right side uses flex */
  align-items: center; /* Align items vertically in the center */
  justify-content: flex-end; /* Push items to the right */
  gap: 20px; /* Space between working hours and social icons */
}
.top-bar-left .phone-icon {
  color: #131313;
}
.top-bar-right .social__icons {
  display: flex; /* Layout the social icons in a row */
  gap: 10px; /* Space between each social icon */
}
.top-bar-right .social__icons .fa-phone {
  color: #131313;
}

.top-bar-right .social__icons a {
  color: #131313;
}
