.store-section {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-items: center; /* Add this line to vertically center the content */
  justify-content: center; /* Add this line to horizontally center the entire section */
}

h2 {
  text-align: center;
  grid-column: span 4; /* Make the title span across all 4 columns */
}
p {
  text-align: center;
  grid-column: span 4; /* Make the title span across all 4 columns */
}
.employee-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px; /* Optional padding for a bit of spacing within the employee content */
}

.employee-img {
  width: 90px; /* Reduced a bit to bring them closer visually */
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.employeeTitle,
.employeeDescription {
  margin: 0;
  text-align: center;
}
.team-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.team-content {
  flex: 0.5;
  padding: 20px;
}

.team-slider {
  position: relative;
  flex: 0.5;
}

.slide {
  display: block; /* Hide by default, will be shown using JavaScript */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* Responsive styles */
@media (max-width: 768px) {
  .store-section {
    grid-template-columns: repeat(1, 1fr); /* 2 columns for mobile */
  }

  h2,
  p {
    font-size: 1.5rem; /* Smaller font size */
    grid-column: span 2;
  }

  .employee-img {
    width: 90px; /* Smaller images */
    height: 90px;
  }

  .team-section {
    flex-direction: column; /* Stack elements vertically */
  }

  .team-content,
  .team-slider {
    flex: 1; /* Take full width */
  }
}

@media (max-width: 480px) {
  .store-section {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }

  h2,
  p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .employee-img {
    width: 50px; /* Even smaller images */
    height: 50px;
  }
}
